h1{
    text-align: center;
    color: purple;
    font-size: 50px;
}
body{
    background-color: black;

}
li a{
    color: white;
}
.navbar{
    background-color: blanchedalmond;
    list-style-type: none;
}
 .ul:hover{
background-color: blue;
list-style-type: none;
color: white;
}
.ul{
    padding: 20px;
    text-decoration: none;
    display: flex;
    text-indent: 170px;
    color: white;
    list-style-type: none;
    font-size: 32px;
    border: 2px solid white;
}
li a:hover{
background-color: red;
}